*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  width: 1280px;
  margin: 0 auto;
}

/*Nav Bar*/

.nav-row {
  display: flex;
  justify-content: flex;
  height: 60px;
  background-color: #2E2D2B;
  text-align: center;
  list-style: none;
}

.nav-item {
  width: 40%;
  padding: 20px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;

  text-transform: uppercase;
}

/*Header*/

.page-header {
  background-image: url("img/header-img.jpg");
  background-size: cover;
  height: 400px;
}

.header-content {
  position: relative;
  top: -10px;
  margin: 0 auto;
  padding: 100px;
}

.main-heading {
  position: static;
  margin-left: 40%;
  font-size: 8em;
  font-family: Josefin Sans, Arial, sans-serif;
}

.sub-heading {
  position: absolute;
  top: 180px;
  left: 30%;
  font-size: 4em;
  font-family: Dancing Script, Corsiva, cursive;
  color: #fff;
  text-shadow: 1.5px 1.5px 1.5px #323232;
}

/*BODY*/

/*Flex declared on MAIN parent for blog-row and aside*/
main {
  position: relative;
  top: -50px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  background-color: #FEF9EC;
  width: 1100px;
  box-shadow: 1px 2px 3px 2px #595a5b;
}

/*Items are just blocks. They will stack on top of each other by default (no flex needed)*/
.blog-row {
  display: block;
  width: 900px;
  margin: 40px auto;
}

.item  {
  margin: 40px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px #595a5b;
}

.icon-wrapper {
  position: relative;
  margin: 0 auto;
  top: 40px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #EFEADF;
}

.icon-wrapper i {
  -webkit-filter: invert(100%);
  margin: 15px 15px 15px 18px;
  /*Searched how to change png color: https://teamtreehouse.com/community/is-it-possible-to-make-a-black-icon-white-using-css*/
}

.meta {
  height: 20px;
  margin: 0 auto;
  border-bottom: 2.5px;
  border-style: ridge;
  border-color: #EFEADF;
}

.date, .category {
  text-transform: uppercase;
}

.date {
  float: left;
  text-align: left;
}

.category {
  float: right;
  text-align: right;
}

.entry-title {
  padding: 20px;
}

.date, .category, .entry-title, .aside-heading, .nav-item {
  font-family: Josefin Sans, Arial, sans-serif;
}

.entry-title, .aside-heading {
  font-size: 2em;
  font-weight: bold;
  margin: 20px auto;
}

.blog-img {
  float: right;
  margin: 15px;
  height: 200px;
  width: 200px;
}

.primary-txt {
  font-family: 'Noto Serif', Times, serif;
  font-size: 1.2em;
  margin: 10px;
}

#dino {
  background-image: url("img/dino.jpg");
  background-size: cover;
}

#xx {
  background-image: url("img/xx.png");
  background-size: cover;
  background-position: center;
}

#yhact-img {
  background-image: url("img/yhact.jpg");
  background-size: cover;
}

aside {
  position: relative;
  width: 400px;
  margin: 40px 40px 40px 0;
  padding: 10px;
  background-color: #EFEADF;
  box-shadow: 1px 1px 2px 2px #595a5b;
}

.auth-pic {
  position: absolute;
  left: 30%;
  background-image: url("img/author.jpeg");
  background-size: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 20px auto;
}

.aside-heading {
  margin: 200px 20px 50px 20px;
  border-bottom: 1.5px;
  border-style: solid;
  border-color: #2E2D2B;
}

footer {
  background-color: #2E2D2B;
  text-align: center;
  color: #fff;
  font-family: Josefin Sans, Arial, sans-serif;
  height: 40px;
  padding: 10px;
}
